.container {
  max-width: 1000px;
  margin: auto;
  padding right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ultimas-reclamacoes h2 {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #004aad;
}

.erro {
  color: red;
  text-align: center;
}

.lista-reclamacoes {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 5px;
 
}

.card-reclamacao {
  background: #fff;
  text-align: left;
  align-items: center;
  padding: 30px 50px;
  margin-right: 1rem;
  margin-left: -1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  transition: transform 0.2s;
  flex-wrap: wrap;
}

/* .card-reclamacao:hover {
  transform: scale(1.01);
} */

.card-reclamacao p {
  margin: 8px 0;
  line-height: 1.5;
}

.icone-user {
  color: #1e90ff;
}

.icone-envelope {
  color: #28a745;
}

.icone-msg {
  color: #ff9800;
  font-size: 1rem;
}

.icone-megafone {
  color: #ff0000;
}
.data-reclamacao {
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
}

.barra-busca {
  position: relative;
  flex-direction: column;
  left: 2px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.input-busca {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.icone-busca {
  position: absolute;
  font-size: 1.7rem;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: #163de7;
  pointer-events: none;
}

.cliente{
  text-transform:uppercase;
  font-size: 0.8rem;
}

.assunto{
  text-transform:capitalize;
  
}

.feedback{
  text-transform:capitalize;
  color: #697e88;
}
.mensagem-texto {
  font-size: 15px; /* Ajuste conforme necessário */
  
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .lista-reclamacoes {
    padding-top: 2rem;
  }

  .card-reclamacao {
    padding: 10px;
  }

  .barra-busca {
    max-width: 100%;
    flex-direction: row;
       flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
  }

  .input-busca {
    font-size: 0.9em;
    padding: 8px;
  }

  .botao-ir {
    font-size: 0.9em;
    padding: 6px;
  }

  .icone-busca {
    font-size: 1.5rem;
    left: 10px;
  }

  .links-header {
    flex-direction: column;
    align-items: center;
  }

  .links-header a {
    margin: 5px 0;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .ultimas-reclamacoes h2 {
    font-size: 18px;
  }

  .card-reclamacao {
    font-size: 14px;
  }

  .barra-busca {
    flex-direction: column;
    padding: 10px;
  }

  .input-busca {
    font-size: 0.85em;
    padding: 6px;
  }

  .botao-ir {
    font-size: 0.85em;
    padding: 5px;
  }

  .icone-busca {
    font-size: 1.3rem;
    left: 5px;
  }
}
